.produit-liste{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.section-access{
    min-height: 100vh;
}

@media (max-width: 768px) {
    .section-access {
        padding: 20px;
    }
}
