h2{
    font-size: 38px;
    text-align: center;
    font-family: cursive;
}

.section-cafe{
        min-height: 100vh;
}

.produits{
    display: flex;
}

@media (max-width: 768px) {
    h2 {
        font-size: 28px;
    }
    .section-cafe {
        padding: 20px;
    }
    .produits {
        flex-wrap: wrap;
        justify-content: center;
    }
}
