body{
    min-height: 100vh;
    background-color: #e9e0bb;
    background-repeat: no-repeat;
    background-size: max(1490px);
    background-position: center;
}

.titre{
    padding: 85px;
    text-align: center;
    font-size: 95px;
    font-family: "Dancing Script";
}

p{
font-family: "Dancing Script";
    font-size: 24px;
}

p.prix{
    font-family: cursive;
}

.rechercher{
    font-family: Alef;
    font-size: 18px;
}

.input{
    height: 25px;
    width: 180px;
}
