.section-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.log_in {
    min-width: 500px;
    text-align: center;
    padding: 50px;
    background-color: #fff;

    border-radius: 8px;

    box-shadow: 0 4px 12px rgba(95, 72, 47, 0.1);

    border-top: 4px solid #8b5a2b; /* Bordure couleur café */

}

.mail{
    text-align: center;
}

.password{
    text-align: center;
}

.se-connecter{
    font-size: 24px;
    text-align: center;
}
.connect{
    font-family: cursive;
}


.account{
    padding-top: 30px;
    text-align: center;
}

p.new-account{
    font-family: "Bookman Old Style";
}



