.Header{margin: auto;
    height: 180px;
    background-color: #908a6e;
    padding-left: 20px;
    padding-top: 20px;
}

.Navbar ul{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin: 10px 10px 15px;
    font-size: 24px;

}


.logo{
    display: flex;
    font-size: 30px;
    font-family: "Dancing Script";
    border: solid black 1px;
    width: 142px;
}

button{
    color: #050505;
    margin: 9px;
    border-radius: 20px;
    font-family: "alef";
}

.Cafthé{
    font-size: 50px;
    color: black;
    text-decoration: none;
    border: solid white 4px;
}

.border{
    padding-bottom: 6px;
    border: solid black 1px;
    width: 133px;
}



.home{

    color: black;
    text-decoration: none;
}

.cafe{
    color: black;
    text-decoration: none;
}

.the{
    color: black;
    text-decoration: none;
}

.access{
    color: black;
    text-decoration: none;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    height: 50px;
    width: 35px;
    color: black;
}

.shop{
    margin: 15px;
    height: 60px;
    width: 35px;
}

