h2{
    padding-top: 50px;
    text-decoration: underline;
}

.product-liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
}
.section-product {
    min-height: 100vh;
}